@import "tailwindcss";

:root {
  --dark-red: #5a0211;
  --light-red: #e13d3d;
  --light-gray: #1a1a1a;
  --dark-gray: #121212;
}

@theme {
  --color-dark-red: var(--dark-red);
  --color-light-red: var(--light-red);
  --color-dark-gray: var(--dark-gray);
  --color-light-gray: var(--light-gray);
}

body {
  font-family: Tajawal, sans-serif;
  background-color: var(--dark-gray);
  color: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.htmlContent {
  overflow-wrap: break-word;
  overflow-x: auto;

  iframe {
    width: 100%;
    height: 450px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: disc;

    li {
      margin-inline-start: 1.25rem;
    }
  }

  ol {
    list-style: decimal;

    li {
      margin-inline-start: 1rem;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

@layer {
  .myContainer {
    @apply container px-4 mx-auto;
  }

  .sectionPadding {
    @apply py-6 lg:py-10;
  }

  .mainBtn {
    @apply bg-dark-red font-bold text-lg capitalize py-2 px-4 rounded-full cursor-pointer
    flex items-center justify-center gap-2 shadow-[0px_0px_70px_0px] shadow-transparent ring-black/20
    transition-all duration-300;

    svg {
      @apply text-3xl;
    }

    &.light {
      @apply bg-white text-dark-red;
    }

    &.transparent {
      @apply bg-transparent text-white ring-white ring-2;
    }

    &:hover,
    &.active {
      @apply shadow-light-red shadow-[0px_0px_70px_0px] bg-red-900 ring-3;

      &.light {
        @apply text-white;
      }

      &.transparent {
        @apply bg-red-900 text-white ring-red-900 shadow-transparent;
      }
    }
  }

  .navLink {
    @apply text-lg duration-300 relative;

    &::after {
      @apply content-[''] absolute h-2 w-2 rounded-full bg-light-red -bottom-2 left-1/2 -translate-x-1/2 opacity-0 duration-300;
    }

    &.active,
    &:hover {
      @apply text-light-red;

      &::after {
        @apply opacity-100;
      }
    }
  }

  .footerLinksTitle {
    @apply font-bold text-xl lg:text-3xl relative;

    &::after {
      @apply hidden lg:block content-[''] absolute h-1 w-6 bg-light-red -top-2 -start-3;
    }

    &::before {
      @apply content-[''] absolute h-full lg:h-6 w-0.5 lg:w-1 bg-light-red -start-2 lg:-top-2 lg:-start-3;
    }
  }
}
